DATABASE_URL=

PINECONE_API_KEY=
PINECONE_INDEX_NAME=

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=
AZURE_DEPLOYMENT_ROUTER=
AZURE_DEPLOYMENT_RAG=
AZURE_DEPLOYMENT_ORDERS_TICKETS=
AZURE_DEPLOYMENT_EMBEDDINGS=

GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_TOKEN_PATH=
